{{!-- <div id="added_Popup">
  <p>You succesfully added a new recommendation</p>
  <button id="close_Btn">Close</button>
</div> --}}
<section>
  <h1>Trivatch</h1>
  <p>Get your list of interesting trip destinations based on your preference</p>
  <p>Made by and for travelers!</p>
  <a href="/register">Find your recommendation</a>
  <a href="/add">Add a recommendation</a>
</section>