<form action="/recommendations" method="get">
  <fieldset>
    <legend>Who is going?</legend>
    <label for="group-of-friends">A group of friends</label>
    <input type="radio" name="who-is-going" id="group-of-friends" value="group-of-friends"/>

    <label for="couple">Couple</label>
    <input type="radio" name="who-is-going" id="couple" value="couple" />

    <label for="myself">Myself</label>
    <input type="radio" name="who-is-going" id="myself" value="myself"/>

    <label for="family">Family</label>
    <input type="radio" name="who-is-going" id="family" value="family">
  </fieldset>

  <fieldset>
    <legend>Type of trip</legend>
    <label for="city">City</label>
    <input type="checkbox" name="type-of-trip" id="city" value="city"/>

    <label for="beach">Beach</label>
    <input type="checkbox" name="type-of-trip" id="beach" value="beach" />

    <label for="active">Active</label>
    <input type="checkbox" name="type-of-trip" id="active" value="active"/>

    <label for="culture">Culture</label>
    <input type="checkbox" name="type-of-trip" id="culture" value="culture">
  </fieldset>

   <fieldset>
    <legend>Budget</legend>
    <label for="low-budget">Low budget</label>
    <input type="radio" name="budget" id="low-budget" value="low-budget"/>

    <label for="reasonable">Reasonable</label>
    <input type="radio" name="budget" id="reasonable" value="reasonable" />

    <label for="no-budget">No budget</label>
    <input type="radio" name="budget" id="no-budget" value="no-budget"/>
  </fieldset>



  <button type="submit"> Check out our recommendations</button>
  <button id="back_Btn">Go Back</button>
</form>
