<form action="/recommendations" method="get">
  <fieldset>
    <legend>Who is going?</legend>
    <label for="group-of-friends">A group of friends</label>
    <input type="radio" name="group-of-friends" id="group-of-friends"/>

    <label for="couple">Couple</label>
    <input type="radio" name="couple" id="couple" />

    <label for="myself">Myself</label>
    <input type="checkbox" name="myself" id="myself"/>

    <label for="family">Family</label>
    <input type="checkbox" name="family" id="family">
  </fieldset>

  <fieldset>
    <legend>Type of trip</legend>
    <label for="city">City</label>
    <input type="checkbox" name="city" id="city"/>

    <label for="beach">Beach</label>
    <input type="checkbox" name="beach" id="beach" />

    <label for="active">Active</label>
    <input type="checkbox" name="active" id="active"/>

    <label for="culture">Culture</label>
    <input type="checkbox" name="culture" id="culture">
  </fieldset>

   <fieldset>
    <legend>Budget</legend>
    <label for="low-budget">Low budget</label>
    <input type="checkbox" name="low-budget" id="low-budget"/>

    <label for="reasonable">Reasonable</label>
    <input type="checkbox" name="reasonable" id="reasonable" />

    <label for="no-budget">No budget</label>
    <input type="checkbox" name="no-budget" id="no-budget"/>
  </fieldset>



  <button type="submit"> Check out our recommendations</button>
  <button id="back_Btn">Go Back</button>
</form>
