<div><button id="back_Btn">Change your preference</button></div>
<section>
  <ul>
    {{#each destinations}}
      <li>
        <img
          src="images/recommendations_countries/{{city_image}}"
          alt="picture of {{city_name}}"
        />
        <p>{{city_name}}</p>
      </li>
    {{/each}}
  </ul>
</section>