<section>
  <ul>
    {{#each destinations}}
      <li>
        <img
          src="images/recommendations_countries/{{city_image}}"
          alt="picture of {{slug}}"
        />
        <p>{{slug}}</p>
      </li>
    {{/each}}
  </ul>
</section>