<form action="/preference" method="post">
  <fieldset>
    <legend>Fill in your information</legend>
    <label for="full-name">Full name</label>
    <input type="text" name="full-name" id="full-name" required />
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required />
    <label for="phone-number">Phone number</label>
    <input type="tel" name="phone-number" id="phone-number" required />
    <label for="country">Current location</label>
    <select name="country" id="userCountry">
    </select>
  </fieldset>
  <button id="submitPIBtn" type="submit">Choose your preferences</button>
  <button id="back_Btn">Go Back</button>

</form>

{{! <button id="getLocation">GET LOCATION</button> }}

<h2></h2>