@import url(../styles/main.css);

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}

main > div {
    position: absolute;
    background-color: var(--secondary-brand-color);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em 5em;
    border-radius: 2%;
}

main div p {
    color: var(--accent-brand-color);
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

main div button {
    background-color: var(--primary-brand-color);
    outline: none;
    border: none;
    padding: .5rem 2rem;
    color: var(--accent-brand-color);
    cursor: pointer;
}

.showPopup {
    display: flex;
}

main section {
    display: grid;
    grid-template-rows: min-content;
    justify-items: center;
    width: min(100% - 2rem, 75rem);

}

main section h1 {
    font-size: clamp(2rem, 5vw + 1rem, 3.5em);
}

main section p {
    font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
    max-width: 40rem;
    text-align: center;
    padding-block: 0rem 1.5rem;
    -moz-osx-font-smoothing: grayscale;
}

main section a {
    display: block;
    width: fit-content;
    background-color: var(--primary-brand-color);
    color: var(--accent-brand-color);
    border-radius: 2%;
}

main section a:first-of-type {
    margin-bottom: 1rem;
    padding: 1rem 5rem;
    font-size: clamp(1rem, .5vw + 1rem, 1.25rem);
}

main section a:last-of-type {
    padding: 1rem 5rem;
    
}